.tableform td{
   border-bottom: 1px solid lightgray; 
}
.tableform td{
   padding-bottom: 5px;
   padding-top:5px;
   text-align: center;
}
.tableform th{
   border-bottom:2px solid #0191C8;
   border-top: 2px solid #0191C8;
   padding: 15px;
}
.formm {
   padding-left: 250px; padding-right: 250px; padding-top: 5px;
}

.tableform{
   padding: 15px;
    width: 100%;
    border-spacing: 0;
}
td.testbordernone{
   border-bottom: 0px;
}
td.test1{
   border-bottom: 1px solid lightgray;
   border-top: 1px solid lightgray;
}

.findwordcss{
   width: 230px;
    height: 32px;
    border-right-width: 1px;
    border-left-width: 1px;
    padding-right: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: 5px;
   
}

.buttoncss{
   border: #000000 solid 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 34px;
    width: 100px;
    border-bottom-width: 1px;
    background-color: white;
    margin-right: 5px;
}
    
.font{
   font-size: small; 
   color:#66ccff;
}
.inputtextcss{
   border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 422px;
    height: 38px;
}
.textareacss{
   width: 424px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 209px;
}
.optioncss{
   height: 32px;
    width: 107px;
}
.buttoncss1{
   border: #000000 solid 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 34px;
    width: 100px;
    border-bottom-width: 1px;
    background-color: #ddf0f7;
    margin-right: 5px;
}

.buttongroupcss{
   border: #000000 solid 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 34px;
    width: 100px;
    border-bottom-width: 1px;
    background-color: white;
    margin-right: 5px;

}
.buttongroupcss:HOVER {
   border: #000000 solid 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 34px;
    width: 100px;
    border-bottom-width: 1px;
    background-color: #66ccff;
    margin-right: 5px;
    
}
.buttonsubmit{
   border: #000000 solid 1px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    height: 34px;
    width: 100px;
    border-bottom-width: 1px;
    background-color: white;
    margin-right: 5px;
}